* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #7c3aed;
  gap: 20px;
}

.circle {
  background-color: #b3b3c7;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.startBtn {
  background-color: #050508;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 15px;
  transition: 0.3s background color;
}

.startBtn:hover {
  background: #c084fc;
  color: #050508;
}